.card {
    background-color: #fff;
    font-family: ProximaNova, Helvetica, Arial, sans-serif;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: box-shadow .35s;
    padding: 1rem 1rem 2rem 1rem;
    max-width: 300px;
    min-width: 240px;
}

.card:hover {
    box-shadow: 0.5rem 0.7rem 0.7rem 0.5rem rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.product-header {
    display: flex;
    flex-direction: column;
}

.product-logo_wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.product-logo_img:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(1.1);
}

.product-logo_wrapper img {
    width: 10rem;
    height: 10rem;
}

.card-logo_img {
    padding: 1rem;
}

.product-title_block {
    font-size: 1.4rem;
    font-weight: 700;
    color: #272727;
    display: block;
    line-height: 1.4;
}

.product-weight {
    font-size: 1.2rem;
    color: #707070;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price-container {
    margin-top: 2rem;
}

.current-price {
    color: #ff8522;
    font-weight: 700;
    display: flex;
}

.product-price-container .current-price .current-integer {
    font-size: 3.2rem;
    line-height: 1.15;
}

.product-price-container .current-price .current-fraction {
    font-size: 1.8rem;
    line-height: 1.3;
}

.product-button {
    font-size: 1rem;
    width: 50%;
    border-radius: 2.5rem;
    background-color: #f8b700 ;
    padding: .5rem;
    text-align: center;
    color: #F9F9F9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 15rem;
    min-width: 9rem;
}


.product-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-logo {
    display: flex;
    height: 5rem;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1rem;
}

@media (max-width: 813px) {
    .product-button {
        font-size: 1rem;
    }
}
