.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    padding: 0.5rem 1.5rem;
}

.header__wrapper li {
    display: inline;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  var(--header-bg);
}

.header-menu a {
    color: black;
    font-size: 1.3rem;
    /* font-weight: bold;  */
    padding: 1rem 1.5rem;
    margin: 0 1rem;
    border-radius: 0.4rem;
}

.header-menu a:hover {
    background-color:black;
    color: white;
    transition: 0.3s;
}

.header-logo {
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    color: var(--main-text-color);
    font-size: 3rem;
}

