*, ::before, ::after {
  box-sizing: border-box;
}

.app {
  font-family: ProximaNova,Helvetica,Arial,sans-serif;

}

.container {
  width: 100%;
  min-height: 100%;
  background: #fffaeb;
  display: flex;
  flex-direction: column;
}
